/* html {
    scroll-behavior: smooth;
} */

.page {
    min-width: 1280px;
    /* max-width: 1400px; */
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* HEADER */

.header {
    background-color: #1B2944;
    padding: 40px 0 0;
}

.header__container {
    width: 944px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo_place_header {
    background-image: url(../images/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 28px;
}

.header__column_links {
    list-style: none;
    display: flex;
    column-gap: 16px;
    margin: 0;
}

.header__column_link:hover {
    opacity: 70%;
    transition: opacity 0.5s ease-in-out;
}

/* HERO */

.hero {
    background-color: #1B2944;
    padding: 114px 0 88px 0;
}

.hero__container {
    width: 944px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero__info {
    width: 464px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.hero__position {
    color: #FFBB01;
    margin: 0 0 16px;
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
}

.hero__title {
    color: #fff;
    margin: 0 0 24px;
    line-height: 59px;
    font-size: 50px;
    font-weight: 700;
}

.hero__subtitle {
    color: #fff;
    margin: 0 0 40px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}

.hero__link {
    text-decoration: none;
    background-color: #FFBB01;
    border-radius: 6px;
    padding: 16px 32px;
    color: #1B2944;
    text-transform: uppercase;
    line-height: 15.6px;
    font-size: 12px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.hero__link:hover {
    background-color: #987002;
    transition: background-color 0.5s ease-in-out;

}

.hero__image {
    background-image: url(../images/avatar.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 384px;
    height: 384px;
}


/* SECTION-TITLE */

.section-title {
    color: #fff;
    line-height: 42px;
    font-size: 36px;
    font-weight: 700;
    margin: 0 auto;
    width: 944px;
}

/* FEATURES */

.features {
    background-color: #141F35;
    padding: 88px 0;
    margin: 0 auto;
}

.features__container {
    width: 944px;
    display: flex;
    flex-wrap: wrap;
    margin: 48px auto 0;
    column-gap: 16px;
}

.table__items {
    margin: 0 0 72px;
}

.table__items:hover {
    transform: scale(1.05);
}

.items-title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.items-quote {
    width: 303px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.table__items:hover .items-img {
    opacity: 70%;
    transition: opacity 0.5s ease-in-out;
}

/* PORTFOLIO */

.portfolio {
    background-color: #1B2944;
    padding: 88px 0;
    margin: 0 auto;
}

.portfolio__container {
    width: 944px;
    display: flex;
    margin: 48px auto 0;
    column-gap: 16px;
    overflow: hidden;
    border-radius: 6px;
    /* box-shadow: -5px 5px 0 #FFC41D; */
}

.project__link:hover {
    background-color: #b70626;
    transition: background-color 0.5s ease-in-out;
}

.project__item_1 {
    background-image: url(../images/work-1.jpg);
    width: 304px;
    height: 304px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin-top: 0px;
    opacity: 70%;
    transition: transform 0.9s ease-in-out;
    
}

.portfolio__container:hover .project__item_1:hover {
    transform: scale(1.05);
    
}

.project__item_2 {
    background-image: url(../images/work-2.png);
    width: 304px;
    height: 304px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin-top: 0px;
    opacity: 70%;
    transition: transform 0.9s ease-in-out;
}

.portfolio__container:hover .project__item_2:hover {
    transform: scale(1.05);
}

.project__item_3 {
    background-image: url(../images/work-3.png);
    width: 304px;
    height: 304px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin-top: 0px;
    opacity: 70%;
    transition: transform 0.9s ease-in-out;
}

.portfolio__container:hover .project__item_3:hover {
    transform: scale(1.05);
}

.project__title {
    color: #fff;
    width: 158px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 164px 0 0px 33px;
    margin: 0 0 16px;
}

.project__link {
    text-decoration: none;
    padding: 10px 16px;
    background-color: #EC1F46;
    color: #fff;
    border-radius: 6px;
    margin: 0 0 0 33px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.6px;
}

/* GALLERY */

.gallery {
    background-color: #141F35;
    padding: 70px 0 80px;
}

.gallery__container {
    width: 944px;
    margin: 48px auto 0;
    /* display: flex;
    flex-wrap: wrap;
    column-gap: 16px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    
}

.card-image {
    width: 100%;
    min-height: 100%;
    /* margin: 0 0 16px 0; */
}

.card-image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.card-image:nth-child(13) {
    grid-column: -1/3;
    grid-row: -1/6;
}

/* CONTACTS */

.contacts {
    background-color: #1B2944;
    padding: 88px 0 88px;
}

/* FORM */

.contacts__container {
    width: 944px;
    margin: 48px auto 0;
    display: flex;
    column-gap: 96px;
}

.form__input_container {
    width: 464px;
    height: 422px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: -5px 5px 0 #FFC41D;
    border-radius: 6px;
}

.input_item {
    width: 400px;
    height: 70px;
    margin: 0 auto 24px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border: none;
}

.form-link {
    width: 375px;
    padding: 16px;
    background-color: #FFBB01;
    color: #1B2944;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0px 4px 0 #B68500;
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 700;
}

.form-link:hover {
    background-color: #b28917;
    transition: background-color 0.5s ease-in-out;
}

.form-title {
    color: #000;
    width: 400px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    /* text-align: center; */
    /* margin: 40px 0 0 0; */
    /* box-sizing: border-box; */
    margin: 40px auto 32px;
    text-align: center;
}

.contacts__links {
    width: 384px;
}

.contacts__social {
    width: 384px;
}

.column-title {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.column-subtitle {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.column-author {
    width: 210px;
    margin: 230px 0 0;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
}

.header__column_links {
    padding: 0;
}


/* RESPONSIVE */

/* Small: 576px - 767px */
@media (max-width: 767px) {
    
    /* .header__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo_place_header {
        margin-bottom: 20px;
    }

    .hero__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero__image {
        margin-bottom: 40px;
    }

    .hero__info {
        text-align: center;
    } */
}


/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    
    .header__container {
        max-width: 320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_place_header {
        /* margin-bottom: 20px; */
    }

    .hero__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero__image {
        margin-bottom: 40px;
        width: 300px;
        height: 300px;
    }

    .hero__info {
        text-align: center;
        max-width: 272px;
    }
}

